 .sign--in--wrapper{
  .remember--me{
    margin-left: -10px;
  }
  ::ng-deep{
    .mat-stepper-horizontal{
      .mat-horizontal-stepper-wrapper{
        .mat-horizontal-stepper-header-container{
          display: none;
        }
        .mat-horizontal-content-container{
          padding: 0;
        }
      }
    }
    .otp-input{
      width: 69px;
      height: 69px;
      font-size: 20px;
    }
    .n-o-c{
      justify-content: space-between;
    }
  }
  .note--mar{
    margin-bottom: 170px;
  }
  .resend--veri{
    margin-bottom: 100px;
  }
  

 }
