 
.auth-main {
  position: relative;

  .auth-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh; 

    .auth-form {
      flex-direction: column; 
      min-height: 100vh;
      padding: 24px;
      background-repeat: no-repeat;
      background-size: auto 82%;
      background-position: left bottom;
      position: relative;
      justify-content: space-between; 
    }
    
  }
} 