<div class="container-fluid dashboard--wrapper clr--001f2b">
    <div class="row">
        <div class="col-12">
            <h1 class="font-18 font-bold mb-4 mt-1">Dashboard</h1>
        </div>
        <div class="col-12">
         

            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title class="">Welcome, James White!</mat-card-title>
                    <mat-card-subtitle class="font-16 mb-3">Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s, when an unknown printer took a galley of type and scrambled</mat-card-subtitle>
                </mat-card-header>
               <mat-card-content>
                  <div class="row">
                    <div class="col-6">
                        <div class="dash--box d-flex align-items-center">
                            <div class="round--logo d-flex align-items-center justify-content-center flex-shrink-0">
                                <mat-icon class="text-primary">home_health</mat-icon>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="font-16 font-bold  mb-1">Total count of Hospitals</h5>
                                <h1 class=" font-bold m-0">34567</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="dash--box d-flex align-items-center">
                            <div class="round--logo sales--logo d-flex align-items-center justify-content-center flex-shrink-0">
                                <mat-icon>group</mat-icon>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="font-16 font-bold  mb-1">Sales Reps</h5>
                                <h1 class=" font-bold m-0">1246</h1>
                            </div>
                        </div>
                    </div>
                  </div>
                </mat-card-content>
               
              </mat-card>
        </div>

    </div>
</div>