<div class="container-fluid clr--001f2b">
    <div class="row">
        <div class="col-12">
            <h1 class="font-18 font-bold mb-4 mt-1">Manage Hospitals</h1>
        </div>
        <div class="col-12 d-flex align-items-center">
            <div class="form-group search--field w-100"> 
                <input type="text" class="form-control" placeholder="Search"> 
                <button mat-button class="search--btn"> 
                    <mat-icon class="m-0">search</mat-icon>
                </button>
            </div>
            <button mat-raised-button color="primary" class="flex-shrink-0 ms-3 btn-md">+ Add Hospital</button>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h1 class="font-18 font-bold mb-4 mt-4">All Manage Hospitals</h1>
            <div class="d-flex align-items-center">
                <button mat-button class="icon--btn"> 
                    <mat-icon class="m-0 text-primary">filter_alt</mat-icon>
                </button>
                <button mat-button class="icon--btn"> 
                    <mat-icon class="m-0 text-primary">sort</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>