<div class="container-fluid clr--001f2b">
    <div class="row">
        <div class="col-12">
            <h1 class="font-18 font-bold mb-4 mt-1">Manage Hospitals</h1>
        </div>
        <div class="col-12 d-flex align-items-center">
            <div class="form-group search--field w-100"> 
                <input type="text" class="form-control" placeholder="Search"  (keyup)="applyFilter($event)" #input> 
                <button mat-button class="search--btn"> 
                    <mat-icon class="m-0">search</mat-icon>
                </button>
            </div>
            <button mat-raised-button color="primary" class="flex-shrink-0 ms-3 btn-md" [routerLink]="['/super-admin/manage-hospitals/add-hospital']">+ Add Hospital</button>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h1 class="font-18 font-bold mb-4 mt-4">All Manage Hospitals</h1>
            <div class="d-flex align-items-center">
                <button mat-button class="icon--btn"> 
                    <mat-icon class="m-0 text-primary">filter_alt</mat-icon>
                </button>
                <button mat-button class="icon--btn" [matMenuTriggerFor]="beforeMenu"> 
                    <mat-icon class="m-0 text-primary">sort</mat-icon>
                </button>
                <mat-menu class="profile--menus" #beforeMenu="matMenu" xPosition="before"> 
                  <button mat-menu-item class="font-bold">Latest on Top</button>
                  <button mat-menu-item class="font-bold">A to Z</button>
                  <button mat-menu-item class="font-bold">Z to A</button>
                </mat-menu>
                
            </div>
        </div>
        <div class="col-12">
            <div class="cust--mat--table mh--table">
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
               
                  <ng-container matColumnDef="hospital">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hospital </th>
                    <td mat-cell *matCellDef="let element"> {{element.hospital}} </td>
                  </ng-container>
               
                  <ng-container matColumnDef="cityandState">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> City and State </th>
                    <td mat-cell *matCellDef="let element"> {{element.cityandState}} </td>
                  </ng-container> 

                  <ng-container matColumnDef="hospitalContactNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital <br>
                        Contact No </th>
                    <td mat-cell *matCellDef="let element" class="text-nowrap"> {{element.hospitalContactNo}} </td>
                  </ng-container>
               
                  <ng-container matColumnDef="hospitalAdmin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital Admin </th>
                    <td mat-cell *matCellDef="let element"> {{element.hospitalAdmin}} </td>
                  </ng-container>

                  <ng-container matColumnDef="emailAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email address </th>
                    <td mat-cell *matCellDef="let element" class="text-break"> {{element.emailAddress}} </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element">  
                        <p class="mb-0 {{element.status}}">{{element.status}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex align-items-center">
                            <button mat-button class="icon--btn" [routerLink]="['/super-admin/manage-hospitals/add-hospital']"> 
                                <mat-icon class="m-0 text-primary">visibility</mat-icon>
                            </button>
                            <button mat-button class="icon--btn" [routerLink]="['/super-admin/manage-hospitals/add-hospital']"> 
                                <mat-icon class="m-0 text-primary">edit</mat-icon>
                            </button>
                            <mat-slide-toggle class="ms-2" (click)="alertModal()"> </mat-slide-toggle>
                        </div>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="7">No data matching the filter</td>
                  </tr>

                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
              
        </div>
    </div>
</div>