<div class="container-fluid sign--in--wrapper clr--001f2b">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xxl-7">
        <div class="row">
          <div class="col-12 text-center">
            <img src="https://thoratprashant.github.io/ctb/assets/images/logo.svg" alt="" class="img-fluid mb-5">
          </div>
          <div class="col-12">
            <h6 class="font-medium font-18">Reset Password</h6>
            <p>Create password for your account</p>
          </div>
          <form class="col-12">
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-3">
                    <label class="form-label">New Password</label>
                    <div class="position-relative w-100 password--field">
                      <input [type]="hide() ? 'password' : 'text'" type="password" class="form-control" placeholder="Enter Password"  >
                      <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    </div>
                    <div class="error" *ngIf="">Please enter valid password</div>
                  </div> 

                  <div class="form-group mb-3">
                    <label class="form-label">Confirm Password</label>
                    <div class="position-relative w-100 password--field">
                      <input [type]="hide() ? 'password' : 'text'" type="password" class="form-control" placeholder="Enter Confirm Password"  >
                      <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    </div>
                    <div class="error" *ngIf="">Please enter valid password</div>
                  </div> 
                
                <div class="form-group mb-4 mt-80">
                  <button mat-raised-button color="primary" class="w-100">Save</button>
                </div>
                <div class="form-group mb-3 d-flex align-items-center justify-content-between">
                    <button mat-button class="text-primary" [routerLink]="['/forgot-password']">
                        <mat-icon>arrow_back</mat-icon>
                        Back
                    </button>
                    <p class="mb-0">Not registered yet? <a class="link text-decoration-none"  [routerLink]="['/sign-up']">Create an account </a></p>
                </div>
              </div>
             
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>