<div class="nega--alert--wrapper clr--001f2b">
    <div class="col-12 d-flex flex-column w-100 ">  

        <div class="d-flex flex-column align-items-center justify-content-center w-100 text-center"> 
            <div class="icon--outer d-flex align-items-center justify-content-center">
                <mat-icon>cancel</mat-icon>
            </div>
            <p class="font-16 w-100 my-4">{{negativeNote}}</p>
            <button class="btn-md" mat-raised-button color="primary" [mat-dialog-close]="false" cdkFocusInitial="false">Okay</button> 
        </div>  
        
    </div>
</div>  