<div class="admin--container" [class.layout-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="ps-0 admin--toolbar d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center logo--box">
      <button class="me-2" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> 
      <img src="https://thoratprashant.github.io/ctb/assets/images/logo-hori.svg" alt="" class="img-fluid cursor-pointer" routerLink="/"> 
    </div>
  
    <div class="round--profile cursor-pointer d-flex align-items-center justify-content-center" [matMenuTriggerFor]="beforeMenu">
      <img src="assets/images/user/avatar-1.jpg" alt="" class="img-fluid" />
    </div>
    <mat-menu class="profile--menus" #beforeMenu="matMenu" xPosition="before">
      <div class="w-100 d-flex flex-column user--info">
        <h2 class="font-16 font-bold mb-0 clr--001f2b">James White</h2>
        <p class="mb-0 font-14 text-secondary"> Super Admin </p>
      </div>
      <button mat-menu-item class="font-bold" routerLink="/profile"> <mat-icon class="me-2 clr--001f2b">account_circle</mat-icon> My Profile</button>
      <button mat-menu-item class="font-bold" (click)="logout()"> <mat-icon class="me-2 clr--001f2b">logout</mat-icon> Sign Out</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="admin--sidenav--container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        opened="true">
      <mat-nav-list>
        <a mat-list-item routerLink="/super-admin/dashboard" routerLinkActive="active-link"> <mat-icon>dashboard</mat-icon> Dashboard</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/super-admin/manage-hospitals" routerLinkActive="active-link"> <mat-icon>manage_accounts</mat-icon> Manage Hospitals</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/super-admin/sales-reps" routerLinkActive="active-link"> <mat-icon>account_box</mat-icon> Sales Reps</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/super-admin/hospital-requests" routerLinkActive="active-link"> <mat-icon>medical_information</mat-icon> Hospital Requests</a>
      </mat-nav-list>
    </mat-sidenav> 

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>