<div class="container-fluid add--hospital--wrapper clr--001f2b">
    <div class="row">
        <div class="col-12">
            <button mat-stroked-button class="btn-md back--btn mb-3" [routerLink]="['/super-admin/manage-hospitals']">
                <mat-icon class="m-0 text-primary">keyboard_backspace</mat-icon>
            </button>
        </div>
        <div class="col-12">
            <div class="outer--box">
                <div class="form--box">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="font-18 font-bold mb-4 mt-1">Add Hospital</h1> 
                        </div>
                        <div class="col-12 d-flex align-items-start justify-content-between mb-4"> 
                            <h2 class="font-18 font-bold mb-0">Hospital Details</h2>
                            <div class="d-flex align-items-center">
                                 <label class="font-14 font-bold m-0"> Status: </label> 
                                 <mat-chip class="{{ toggleText }}">{{ toggleText }}</mat-chip> 
                                <mat-slide-toggle class="" (change)="onToggleChange($event)"> </mat-slide-toggle>
                            </div>
                            
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Hospital name</mat-label>
                                <input matInput placeholder="Hospital name" disabled value="Ruby Hospital">
                                <mat-error *ngIf="hname.hasError('required')">Hospital name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Address line 1</mat-label>
                                <input matInput placeholder="Address line 1" disabled value="Rajeev Gandhi Infotech Park, Hinjewadi">
                                <mat-error *ngIf="adOne.hasError('required')">Address line 1 required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Address line 2</mat-label>
                                <input matInput placeholder="Address line 2" [formControl]="adTwo" required>
                                <mat-error *ngIf="adTwo.hasError('required')">Address line 2 required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>City</mat-label>
                                <mat-select [formControl]="city" required>
                                    <mat-option value="one">City 1</mat-option>
                                    <mat-option value="two">City 2</mat-option>
                                    <mat-option value="one">City 3</mat-option>
                                    <mat-option value="two">City 4</mat-option>
                                </mat-select>
                                <mat-error *ngIf="city.hasError('required')">City required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>State</mat-label>
                                <mat-select [formControl]="state" required>
                                    <mat-option value="one">City 1</mat-option>
                                    <mat-option value="two">City 2</mat-option>
                                    <mat-option value="one">City 3</mat-option>
                                    <mat-option value="two">City 4</mat-option>
                                </mat-select>
                                <mat-error *ngIf="state.hasError('required')">State required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Zip Code</mat-label>
                                <input type="number" matInput placeholder="Zip Code" [formControl]="zipcode" required>
                                <mat-error *ngIf="zipcode.hasError('required')">Zip Code required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Contact number</mat-label>
                                <input type="number" matInput placeholder="Contact number" [formControl]="contactNumber"
                                    required>
                                <mat-error *ngIf="contactNumber.hasError('required')">Contact number
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Email address</mat-label>
                                <input type="email" matInput placeholder="Email address" [formControl]="email" required>
                                <mat-error *ngIf="email.hasError('required')">Email address required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <h2 class="font-18 font-bold mt-2 mb-3">Hospital Admin Details</h2>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" [formControl]="fname" required>
                                <mat-error *ngIf="fname.hasError('required')">First name required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" [formControl]="lname" required>
                                <mat-error *ngIf="lname.hasError('required')">Last name required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput placeholder="Email" [formControl]="haemail" required>
                                <mat-error *ngIf="haemail.hasError('required')">Email required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-lg-6">
                            <mat-form-field appearance="outline" class="w-100 ">
                                <mat-label>Mobile Number</mat-label>
                                <input type="number" matInput placeholder="Mobile number" [formControl]="mnumber"
                                    required>
                                <mat-error *ngIf="mnumber.hasError('required')">Mobile number required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 mb-2">
                            <button class="btn-md me-3" mat-raised-button color="primary">Resend invite</button>
                            <button class="btn-md" mat-raised-button color="warn">Cancel invite</button>
                        </div>
                    </div>
                </div>
                <div class="form--box border-0">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn-md" mat-raised-button color="primary" (click)="alertModal()"> Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>