@font-face { 
    font-family: 'Helvetica-regular'; 
    src: url('/assets/fonts/HelveticaNowDisplay-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
} 
@font-face { 
    font-family: 'Helvetica-light'; 
    src: url('/assets/fonts/HelveticaNowDisplay-Light.ttf') format('truetype'); 
    font-weight: light; 
    font-style: normal; 
} 
@font-face { 
    font-family: 'Helvetica-medium'; 
    src: url('/assets/fonts/HelveticaNowDisplay-Medium.ttf') format('truetype'); 
    font-weight: 700; 
    font-style: normal; 
} 
@font-face { 
    font-family: 'Helvetica-bold'; 
    src: url('/assets/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype'); 
    font-weight: bold; 
    font-style: normal; 
} 


body { 
    font-family: 'Helvetica-regular', sans-serif !important; 
    .font-light{font-family: 'Helvetica-light' !important;}
    .font-medium{font-family: 'Helvetica-medium' !important;}
    .font-bold{font-family: 'Helvetica-bold' !important;} 

    .font-12{font-size: 12px !important;}
    .font-14{font-size: 14px !important;}
    .font-15{font-size: 15px !important;}
    .font-16{font-size: 16px !important;}
    .font-18{font-size: 18px !important;}
    .font-20{font-size: 20px !important;}

    .clr--001f2b{color: #001F2B !important;}
    .clr--009BD6{color: #009BD6 !important;}

    .form-group label {
        font-size: 16px;
        font-family: 'Helvetica-medium' !important;
        margin-bottom: 5px;
        color: #001F2B;
    }
    .form-control{
        border: 1px solid #919AA3;
        font-size: 16px;
        padding: 11px 15px;
        border-radius: 8px;
        &:focus{
            box-shadow: none;
            border-color: #009bd6;
        }
    }

    // Angular Material
    .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, 
    .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
    .mdc-checkbox__native-control:focus:focus:checked~.mdc-checkbox__background, 
    .mdc-checkbox__native-control:focus:focus:indeterminate~.mdc-checkbox__background {
        border-color: #009bd6;
        background-color: #009bd6;
    }
    .mat-mdc-checkbox{
        .mdc-form-field{
            .mdc-label{
                margin-bottom: 0;
                color: #919AA3;
                font-family: 'Helvetica-light' !important;               
            }
        }
    }
}
